@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.nav {
    width: 620px;
    margin: 31.5px auto;
}

.link-list {
    display: flex;
}

.link-list li a {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    text-transform: uppercase;
    margin-right: 72px;
    letter-spacing: 2.7px;
}

.container {
    height: 100%;
}

.img {
    width: 100%;
    height: 789px;
    background-image: url("./image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text-block {
    margin-top: 48px;
    padding: 0 68px;
}

.title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 26.82px;
    color: #373737;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 38px;
}

.text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 28px;
}

.button {
    font-family: 'Montserrat';
    border: none;
    background: #FF0000;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 18px 42px;
    margin: 66px auto;
}

.copyright {
    font-family: 'Montserrat';
    padding: 0 105px 29px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 2.4px;
    text-align: right;
    color: #373737;
    margin-top: 16px;
}